
.dropdown {
  position: absolute;
  z-index: 8;
  /*float: right;*/
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.dropdownBtn {
  /*position: absolute;*/
  padding: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.z {
  z-index: 9;
}

.dropdownBtn span {
  color: var(--secondary-300);
}

.dropdownBtn span:hover,
.dropdownBtn span:active {
  color: var(--secondary);
}

.dropdownMenu {
  position: absolute;
  top: 1.5rem;
  left: -11rem;
  visibility: hidden;
  width: 13rem;
  padding: 0.25rem 0 0.5rem;
  margin: 0;
  list-style: none;
  background: var(--secondary-100);
  border: 2px solid var(--secondary-200);
  border-radius: .5rem;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  opacity: 0.5;
  transition: margin-top var(--transition-delay) ease-out, opacity var(--transition-delay) ease-out;
}

.show {
  visibility: visible;
  margin: 0.75rem 0;
  opacity: 1;
}

.dropdownTitle {
  color: var(--primary);
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid var(--secondary-200);
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.dropdownItem {
  border: none;
}

.dropdownItemBtn {
  color: var(--primary);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-align: left;
  width: 100%;
  background: none;
}

.dropdownItemBtn:hover,
.dropdownItemBtn:active {
  background-color: var(--secondary-200);
}

.dropdownItemBtn.disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: transparent;
}

.dropdownItemBtn div {
  display: flex;
  align-content: center;
  gap: 1rem;
}
