:root {
    --color-primary: hsl(195, 100%, 36%);
    --color-primary-darker: darken(--color-primary, 12)
}

// COLOR
$color-white:              #FFF;
$color-black:              #000;
$color-bg:                 seashell;
$color-base:               #222;

$color-primary:            hsl(195, 100%, 36%);
$color-primary-darker:     darken($color-primary, 12);
$color-primary-dark:       darken($color-primary-darker, 12);
$color-primary-darkest:    darken($color-primary-dark, 12);

$color-secondary:          hsl(35, 98%, 54%);
$color-secondary-lighter:  lighten($color-secondary, 12);
$color-secondary-light:    lighten($color-secondary-lighter, 12);
$color-secondary-lightest: lighten($color-secondary-light, 12);

// RESPONSIVE BREAKPOINTS
$bp-large:                 1000em; // more then big
$bp-big:                   112.5em; // 1800px
$bp-medium:                75em; // 1200px
$bp-small:                 56.25em; // 900px;
$bp-tiny:                  37.5em; // 600px;

// FONT
$font-primary:             "Open Sans", sans-serif;
$font-size-default:        1.6rem;
$font-size-small:          1.4rem;
$font-size-large:          2.5rem;

// BORDER
$border-radius:            4px;
$border-secondary:         3px solid $color-secondary-lighter;

// TRANSITION
$transition-delay:         200ms;
$transition-delay-long:    600ms;

// BOX-SHADOW
$box-shadow-norm:          0 0.5rem 1rem rgb(0 0 0 / 15%);
$box-shadow-red:           0 0 .25rem .25rem rgb(255 0 0 / 30%);

// GRID
$grid-width:               114rem;
$gutter-vertical:          8rem;
$gutter-horizontal:        2rem;
