.card {
    display:          flex;
    align-items:      center;
    justify-content: center;
    flex:             0 0 calc((100% - 2 * #{$gutter-horizontal}) / 3);
    flex-direction:   column;
    padding:          3rem 1rem;
    text-decoration:  none;
    color:            $color-primary;
    border-radius:    $border-radius;
    background-color: $color-secondary-lightest;
    transition:       all $transition-delay ease-out;
    gap:              $gutter-vertical;

    @include respond(medium) {
        flex: 0 0 calc((100% - #{$gutter-horizontal}) / 2);
    }

    @include respond(tiny) {
        flex: 0 0 95%;
        //margin-right: $gutter-horizontal;
        //margin-left:  $gutter-horizontal;
    }

    &:hover,
    &:active {
        box-shadow: 0 0 1rem 0.125rem rgba(0, 0, 0, 0.14);
        filter:     brightness(102%);
    }

}

/////////////////////////////////////////////////////////////////////

.note-card {
    position: relative;

    &__title {
        @include text-truncate;
        margin: 1rem 0;
    }

    &__text {
        font-size:     $font-size-smallest;
        line-height:   1.4rem;
        overflow:      hidden;
        max-height:    4.3rem;
        text-align:    start;
        text-overflow: ellipsis;
        word-wrap:     break-word;
    }

    &__name {
        @include text-truncate;
        font-size:   $font-size-larger;
        font-weight: 500;
        margin:      1rem 0;
        color:       $color-secondary;
    }

    &__date {
        font-size: $font-size-small;
    }
}

.note-card.own-note {
    border: $border-secondary;
}

///////////////////////////////////////////////////////////////////////////

.no-card {
    font-size:  $font-size-large;
    width:      100%;
    margin:     $gutter-vertical $gutter-horizontal;
    text-align: center;
    color:      $color-primary;
}

///////////////////////////////////////////////////////////////////////////

.jotter-card {
    position: relative;
    padding:  0;

    &__title {
        @include text-truncate;
        font-size: $font-size-larger;
    }

    &__text {
        line-height:   1.4rem;
        overflow:      hidden;
        max-height:    4.3rem;
        text-overflow: ellipsis;
        word-wrap:     break-word;
    }

    &__date {
        font-size: $font-size-small;
    }

    & .dropdown {
        position: absolute;
        top:      0;
        right:    0;
    }

    & .dropdown__btn {
        position: absolute;
        top:      .5rem;
        right:    .5rem;
    }

    & a {
        display:         flex;
        align-items:     center;
        flex-direction:  column;
        padding:         3rem 1rem;
        text-decoration: none;
        color:           inherit;
        gap:             $gutter-vertical;
    }
}

///////////////////////////////////////////////////////////////////////////
