.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gutter-vertical;
    flex:             0 0 calc((100% - 2 * #{$gutter-horizontal}) / 3);
    padding:          3rem 1rem;
    text-decoration:  none;
    color:            $color-primary;
    border-radius:    $border-radius;
    background-color: $color-secondary-lightest;
    transition:       all $transition-delay ease-out;

    @include respond(medium) {
        flex: 0 0 calc((100% - #{$gutter-horizontal}) / 2);
    }

    @include respond(tiny) {
        width:        100%;
        margin-left:  $gutter-vertical;
        margin-right: $gutter-vertical;
    }

    &:hover,
    &:active {
        filter:     brightness(102%);
        box-shadow: 0 0 1rem 0.125rem rgba(0, 0, 0, 0.14);
    }

}

/////////////////////////////////////////////////////////////////////

.note-card {
    position:         relative;

    &__title {
        @include text-truncate;
        margin: 1rem 0;
    }

    &__text {
        overflow:      hidden;
        text-overflow: ellipsis;
        font-size:     $font-size-smallest;
        line-height:   1.4rem;
        max-height:    4.3rem;
        text-align:    start;
        word-wrap:     break-word;
    }

    &__name {
        @include text-truncate;
        color:       $color-secondary;
        font-size:   $font-size-larger;
        font-weight: 500;
        margin:      1rem 0;
    }

    &__date {
        font-size: $font-size-small;
    }
}

.note-card.own-note {
    border: $border-secondary;
}

///////////////////////////////////////////////////////////////////////////

.no-card {
    font-size:  $font-size-large;
    text-align: center;
    width:      100%;
    margin:     $gutter-vertical $gutter-horizontal;
    color:      $color-primary;
}

///////////////////////////////////////////////////////////////////////////

.jotter-card {
    position:         relative;

    &__title {
        @include text-truncate;
        font-size:   $font-size-larger;
    }

    &__text {
        overflow:      hidden;
        text-overflow: ellipsis;
        line-height:   1.4rem;
        max-height:    4.3rem;
        word-wrap:     break-word;
    }

    &__date {
        font-size: $font-size-small;
    }

    & .dropdown {
        position: absolute;
        top: 0;
        right: 0;
    }

    & .dropdown__btn {
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

}
