.dropdown {
    position: absolute;
    z-index: 8;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;

    &--z {
        z-index: 9;
    }

    &__btn {
        display: inline-block;
        height: inherit;
        padding: 0;
        border: 0;
        cursor: pointer;
        background: transparent;

        & span {
            color: $color-secondary-lighter;

            &:hover,
            &:active {
                color: $color-secondary;
            }
        }
    }

    &__menu {
        position: absolute;
        top: 1.5rem;
        left: -11rem;
        visibility: hidden;
        width: 13rem;
        padding: 0.25rem 0 0.5rem;
        margin: 0;
        list-style: none;
        background: $color-secondary-lightest;
        border: 2px solid $color-secondary-light;
        border-radius: $border-radius;
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
        opacity: 0.5;
        transition: margin-top $transition-delay ease-out, opacity $transition-delay ease-out;

        &--show {
            visibility: visible;
            margin: 0.75rem 0;
            opacity: 1;
        }
    }

    &__title {
        color: var(--primary);
        font-weight: 600;
        text-align: center;
        border-bottom: 2px solid $color-secondary-light;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
    }

}

.dropdown-item {
    border: none;

    &:hover,
    &:active {
        background-color: $color-secondary-light;
    }

    &__btn {
        color: var(--primary);
        border: none;
        padding: 0.5rem 1rem;
        margin: 0;
        text-align: left;
        width: 100%;
        background: none;
        cursor: pointer;

        &--disabled {
            opacity: 0.5;
            pointer-events: none;
            background-color: transparent;
        }

        & div {
            display: flex;
            align-content: center;
            gap: 1rem;
        }
    }
}
