.form-check {
    display:    flex;
    flex-wrap:  wrap;
    gap:        1rem;
    text-align: center;
    padding:    1rem;
    width:      100%;
    color:      $color-primary;

    &__label {
        font-size:   $font-size-large;
        font-weight: 300;
        color:       currentColor;
        flex:        1 1 100%;
    }
}

.sidebar .form-check,
.mobile-sidebar .form-check {
    display:        flex;
    flex-wrap:      nowrap;
    flex-direction: column;
    text-align:     left;
    width:          80%;
}

.check-element {
    display:      flex;
    align-items:  center;
    gap:          1rem;
    margin:       0 auto;

    & > *:not(:disabled):not([readonly]) {
        cursor: pointer;
    }

    & > *:disabled,
    & > *[readonly] {
        pointer-events: none;
        filter:         none;
        opacity:        0.5;
    }

    &__input {
        flex-shrink:      0;
        color:            currentColor;
        background-color: $color-bg;
        width:            2.25rem;
        height:           2.25rem;
        border:           1px solid rgba(0, 0, 0, 0.25);
        appearance:       none;

        &[type="checkbox"] {
            border-radius: $border-radius;
        }

        &[type="radio"] {
            border-radius: 50%;
        }

        &:active {
            filter: brightness(90%);
        }

        &:hover:not(:checked):not(:focus) {
            transform:  translateY(-1px);
            box-shadow: 0 .25rem .5rem rgba($color-black, .2);
        }

        &:focus {
            border-color: $color-primary;
            outline:      0;
            box-shadow:   0 0 0 0.25rem rgba($color-primary, 0.25);
        }

        &:checked {
            background-color: $color-primary;
            border-color:     $color-primary;
        }

        &:checked[type="checkbox"] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }

        &:checked[type="radio"] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }

        &[type="checkbox"]:indeterminate {
            background-color: $color-primary;
            border-color:     $color-primary;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
        }
    }

    &__label {
        font-size: inherit;
    }
}

.sidebar .check-element,
.mobile-sidebar .check-element {
    margin: 0;
}
