.header {
    display:          flex;
    gap: 1rem;
    align-items:      center;
    flex-wrap:        nowrap;
    justify-content:  space-between;
    width:            100%;
    margin:           0 auto;
    padding:          0.5rem 1.5rem 0.5rem 1rem;
    background-color: $color-primary;
    & > .h1 {
        color: $color-bg;
        margin: auto;
    }

}

.login-block {
    position:     relative;
    //margin-right: 2.5rem;

    &__label {
        color:        $color-bg;
        font-size:    $font-size-default;
        margin-right: 2.75rem;
    }

}

.language-block {
    width: 2.5rem;
    position: relative;
    display: block;
}
