.quill-card {
    border-radius: $border-radius;
    box-shadow: $box-shadow-norm;
    border: 1px solid #CCC;
    transition: all $transition-delay-long ease-out;

    &--read-only {
        padding-top: 0.5rem;
        border-color: transparent;
    }
}
