:root {
  --primary-sh: 195, 100%;
  --primary-100: hsl(var(--primary-sh), 84%);
  --primary-200: hsl(var(--primary-sh), 72%);
  --primary-300: hsl(var(--primary-sh), 60%);
  --primary-400: hsl(var(--primary-sh), 48%);
  --primary-500: hsl(var(--primary-sh), 36%);
  --primary-600: hsl(var(--primary-sh), 29%);
  --primary-700: hsl(var(--primary-sh), 22%);
  --primary-800: hsl(var(--primary-sh), 15%);
  --primary-900: hsl(var(--primary-sh), 8%);
  --primary: var(--primary-500);
  /*--primary: #008cba;*/

  --secondary-sh: 35, 98%;
  --secondary-100: hsl(var(--secondary-sh), 90%);
  --secondary-200: hsl(var(--secondary-sh), 81%);
  --secondary-300: hsl(var(--secondary-sh), 72%);
  --secondary-400: hsl(var(--secondary-sh), 63%);
  --secondary-500: hsl(var(--secondary-sh), 54%);
  --secondary-600: hsl(var(--secondary-sh), 43%);
  --secondary-700: hsl(var(--secondary-sh), 32%);
  --secondary-800: hsl(var(--secondary-sh), 21%);
  --secondary-900: hsl(var(--secondary-sh), 10%);
  --secondary: var(--secondary-500);
  /*--secondary: #fd7e14;*/

  --border-radius: 8px;
  --text-color: white;
  /*--bs-secondary: hsl(36.9,98.3%,46.1%);*/
  --active-color-border: hsl(36.9,98.3%,66.1%);
  --active-color-bg: hsl(36.9,98.3%,92.1%);
  --navlink-color-bg: hsl(36.9,98.3%,86.1%);
  /*--bg-color: hsl(27, 87%, 95%);*/
  --bg-color: seashell;
  --bs-body-bg-rgb: 255, 245, 238;
  --transition-delay: 200ms;
}

/* ================ font icons ================ */

@font-face {
  font-family: 'Jotters';
  src: url('./assets/fonts/Jotters.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font: 1.5rem 'Jotters';
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings::before {
  content: "\ea04";
}

.icon-share::before {
  content: "\ea05";
}

.icon-language::before {
  content: "\ea06";
}

.icon-more_vert::before {
  content: "\ea07";
}

.icon-delete::before {
  content: "\ea08";
}

.icon-chevron_left::before {
  content: "\ea09";
}

.icon-chevron_right::before {
  content: "\ea0a";
}

.icon-menu::before {
  content: "\ea0b";
}

.icon-arrow_drop_down_circle::before {
  content: "\ea0c";
}

/* ================  ================ */

body{
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg-color);
}

/* ================ BS dropdown ================ */

.dropdown-menu {
  display: block;
  visibility: hidden;
  border-radius: var(--border-radius);
  transition: margin-top var(--transition-delay) ease-out;
}

.dropdown-menu.show {
  visibility: visible;
  margin: 0.75rem 0;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

/*.dropdown-item-text {*/
/*  color: var(--text-color);*/
/*}*/

/* ================ BS dropdown ================ */

.btn {
  border-radius: var(--border-radius);
}

/* ================ BS card ================ */

.card {
  background-color: #fff1e5;
  border-radius: var(--border-radius);
  margin: 0.5rem;
  transition: all var(--transition-delay) ease-out;
}

.card:hover,
.card:active {
  background-color: #ffeedd;
  box-shadow: 0 0 1rem 0.125rem rgba(0, 0, 0, 0.14);
  /*transform: scale(1.01);*/
}

.card-text.ellipsis {
  text-overflow: ellipsis;
  text-align: start;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.2em;
  font-size: 0.75rem;
}

/* ================ quill-editor ================ */

.ql-editor {
  min-height: 300px;
}

.ql-container.ql-snow.ql-disabled {
  border: none;
}

.ql-container.ql-snow {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* ================ quill-toolbar ================ */

.ql-toolbar.ql-snow {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: height 600ms ease-out, visibility 600ms ease-out, padding 600ms ease-out;
}

.quill.hide-toolbar>.ql-toolbar {
  height: 0;
  padding-bottom: 0;
  padding-top: 0;
  border: none;
  visibility: hidden;
}

.quill.hide-toolbar>.ql-toolbar>span {
  visibility: hidden;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 10px;
}

.ql-toolbar.ql-snow .ql-formats span.ql-picker{
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ql-toolbar.ql-snow .ql-formats button{
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* ================ quill-toolbar fix the location of the three icons ================ */

.ql-toolbar.ql-snow .ql-formats>span.ql-align>.ql-picker-label,
.ql-toolbar.ql-snow .ql-formats>span.ql-color>.ql-picker-label,
.ql-toolbar.ql-snow .ql-formats>span.ql-background>.ql-picker-label
{
  padding-top: 0;
  border-top-width: 0;
}

/* ================ quill-toolbar tooltips ================ */

.ql-toolbar button::after,
.ql-toolbar .ql-formats>span::after
{
  display:none;
  position: relative;
  top: -46px;
  right: 0;
  width: auto;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-left: .5rem;
  padding-right: .5rem;
  color: rgb(0, 102, 204);
  background-color: #fef4c5;
  border: 1px solid #d4b943;
  border-radius: 5px;
}

.ql-toolbar .ql-formats>span::after
{
  top: -48px;
  right: -5px;
}

.ql-toolbar button:hover::after,
.ql-toolbar .ql-formats>span:hover::after {
  display: inline-block;
}

.ql-toolbar .ql-formats>span.ql-header::after {content: 'Header'}
.ql-toolbar .ql-bold:after {content: 'Bold'}
.ql-toolbar .ql-italic:after {content: 'Italic'}
.ql-toolbar .ql-underline:after {content: 'Underline'}
.ql-toolbar .ql-strike:after {content: 'Strike'}
.ql-toolbar .ql-formats>span.ql-align::after {content: 'Align'}
.ql-toolbar .ql-formats>span.ql-color::after {content: 'Color'}
.ql-toolbar .ql-formats>span.ql-background::after {content: 'Background'}
.ql-toolbar .ql-script[value="sub"]::after {content: 'Sub'}
.ql-toolbar .ql-script[value="super"]::after {content: 'Super'}
.ql-toolbar .ql-blockquote::after {content: 'Blockquote'}
.ql-toolbar .ql-code-block::after {content: 'Code block'}
.ql-toolbar .ql-list[value="ordered"]::after {content: 'Ordered list'}
.ql-toolbar .ql-list[value="bullet"]::after {content: 'Bullet list'}
.ql-toolbar .ql-indent[value="-1"]::after {content: 'Shift left'}
.ql-toolbar .ql-indent[value="+1"]::after {content: 'Shift right'}
.ql-toolbar .ql-link::after {content: 'Link'}
.ql-toolbar .ql-image::after {content: 'Insert image'}
.ql-toolbar .ql-video::after {content: 'Insert video URL'}
.ql-toolbar .ql-clean::after {content: 'Clear formatting'}

/* ================ active-note ================ */

.nav-link {
  border-radius: 16px;
  border: 3px solid hsla(36.9,98.3%,86.1%,0);
  /*border-color: var(--active-color);*/
}

.nav-link:hover {
  background-color: var(--navlink-color-bg);
}

.active {
  border-color: var(--active-color-border);
  background-color: var(--active-color-bg);
}
